<!DOCTYPE html>
<html>
  <head>
    <title>Southwest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <body>
    <script type="text/javascript">
      window.patrickStarURL = "<%= image_url('patrickStar.png') %>";
      window.weastCompassURL = "<%= image_url('weast.png') %>";
      window.compassURL = "<%= image_url('compass.png') %>";
    </script>
    <%= yield %>
  </body>
</html>
